.era{
    background:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX17360utI69SQjFzFiYUKu3pVAqcJB6tNAw&usqp=CAU");
    background-repeat: no-repeat;background-size: 120%;
    height: 400;width: 800;
}